/* ___ Main configuration ___ */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Code:wght@300;400&display=swap');

:root {
  --primary-color: #0a192f;
  --text-primary-color: rgb(255, 255, 255);
  --text-primary-color-opacity: rgba(255, 255, 255, 0.603);
  --text-secundary-color: rgb(185, 185, 185);
  --accent-color: #64ffda;
  --accent-color-opacity: #64ffdb41;
  --divider: #a7a7a7;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
  color: var(--text-primary-color);
}

/* Main Scroll */
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:7px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #001046;
  border-radius: 3px;
  border: 1px solid #64ffda;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

form {
  margin: 10px;
  padding: 5px;
}

label {
  margin: 6px 5px 3px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  background-color: transparent;
  border: none;
  font-size: 15px;
  border-bottom: solid rgb(148, 148, 148) 1.5px;
  transition: border-bottom .2s ease;
}

input:focus {
  border-bottom: solid  rgb(0, 140, 255) 1.5px;
  outline: none;
  transition: border-bottom .2s ease;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn {
  cursor: pointer;
  padding: 5px;
  border: solid  1px var(--accent-color);
  background-color: transparent;
  border-radius: 3px;
  color: var(--accent-color);
  transition: .4s ease-in-out;
}

.btn:hover {
  transition: .3s ease;
  background-color: #64ffdb4d;
}

.btn:focus {
  outline: none;
}

.container {
  width: 100%;
}

/* ___ Margins ___ */
.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mt-3 { margin-top: 15px; }
.mt-4 { margin-top: 20px; }
.mt-5 { margin-top: 25px; }
.mr-1 { margin-right: 5px; }
.mr-2 { margin-right: 10px; }
.mr-3 { margin-right: 15px; }
.mr-4 { margin-right: 20px; }
.mr-5 { margin-right: 25px; }
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 15px; }
.mb-4 { margin-bottom: 20px; }
.mb-5 { margin-bottom: 25px; }
.ml-1 { margin-left: 5px; }
.ml-2 { margin-left: 10px; }
.ml-3 { margin-left: 15px; }
.ml-4 { margin-left: 20px; }
.ml-5 { margin-left: 25px; }

/* ___ Paddings ___ */
.pt-1 { padding-top: 5px; }
.pt-2 { padding-top: 10px; }
.pt-3 { padding-top: 15px; }
.pt-4 { padding-top: 20px; }
.pt-5 { padding-top: 25px; }
.pr-1 { padding-right: 5px; }
.pr-2 { padding-right: 10px; }
.pr-3 { padding-right: 15px; }
.pr-4 { padding-right: 20px; }
.pr-5 { padding-right: 25px; }
.pb-1 { padding-bottom: 5px; }
.pb-2 { padding-bottom: 10px; }
.pb-3 { padding-bottom: 15px; }
.pb-4 { padding-bottom: 20px; }
.pb-5 { padding-bottom: 25px; }
.pl-1 { padding-left: 5px; }
.pl-2 { padding-left: 10px; }
.pl-3 { padding-left: 15px; }
.pl-4 { padding-left: 20px; }
.pl-5 { padding-left: 25px; }

.flex-container {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}
