/* Navbar */
.navbar {
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0a192fd0;
  padding: 0 40px;
  height: 60px;
  font-size: 18px;
}

/* Main Content */
#main-content {
  height: auto;
}

/* Main Section */
.main-section {
  margin: 0 90px;
}

.main-section > section {
  padding-top: 70px;
  min-height: 500px;
}

.main-section section > h3 {
  font-size: 1.5em;
}

.main-section section > h3::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 1px;
  margin-bottom: 6px;
  margin-left: 10px;
  background-color: var(--accent-color-opacity);
}


/* Laterals Content */
.left-section {
  position: fixed;
  bottom: 0px;
  left: 35px;
  right: auto;
  /* z-index: 10; */
}

.left-section::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 130px;
  margin-top: 6px;
  margin-left: 15px ;
  background-color: rgb(139, 139, 139);
}

.right-section {
  position: fixed;
  bottom: 0px;
  right: 35px;
  left: auto;
  /* z-index: 10; */
}

.right-section p {
  writing-mode: tb;
  font-family: 'Fira Code';
  color: var(--text-primary-color-opacity);
}

.right-section p::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 130px;
  margin-top: 6px;
  margin-right: 2px;
  background-color: var(--text-primary-color-opacity);
}


.check-btn {
  cursor: pointer;
  display: none;
} 

#check {
  display: none;
}

/* Navbar */
.navbar-menu {
  display: inline-block;
}

.navbar-menu li {
  display: inline-block;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  font-family: 'Fira Code';
  transition: .3s ease;
}

.navbar-menu li a:hover {
  transition: .3s ease;
  color: var(--accent-color);
}

/* Custom Color */
.green-color {
  color: var(--accent-color);
  font-family: 'Fira Code';
}

h3 .green-color {
  font-weight: normal;
}

.main-section section > h3  {
  margin-bottom: 30px;
}

/* Section start-section */
#start-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start-section > img {
  height: 150px;
  width: 150px;
  margin-left: 50px;
  margin-top: -50px;
  border: solid 2px var(--accent-color-opacity);
}

#start-section h1 {
  font-size: 4em;
  color: var(--text-secundary-color);
}

#start-section h2 {
  font-size: 2em;
  color: rgb(100, 100, 100);
}

#start-section h5 {
  color: var(--accent-color);
  font-family: 'Fira Code';
  font-size: 1.4em;
  font-weight: normal;
}

#start-section p {
  width: 50%;
  color: var(--text-primary-color-opacity);
}

/* Section Projects */
.projects-content {
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Card */
.card {
  background-color: #112240;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  height: 350px;
  margin: 10px;
  transition: .3s cubic-bezier(0.645,0.045,0.355,1);
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-6px);
  transition: .3s cubic-bezier(0.645,0.045,0.355,1);
}


.card-header {
  align-items: center;
  font-family: 'Fira Code';
}

.card-content {
  height: 100%;
  align-items: center;
}

.card-content p {
  text-justify: distribute;
  text-align: justify;
  font-size: 15px;
  color: var(--text-primary-color-opacity);
}

.card-content img {
  height: 140px;
  width: auto;
}


/* Experience Content */
.experience-content {
  flex-wrap: wrap;
  justify-content: space-around;
}

.description-experience-section {
  display: inline-flex;
  margin-left: 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
}
.description-experience-section p {
  text-align: end;
  color: var(--text-primary-color-opacity);
}

/* Skill Content */
#skills {
  min-height: 500px;
}

.skills-content {
  font-size: 20px;
  /* width: 500px; */
  justify-content: center;
  align-items: center;
}

.skills-content ul {
  border: solid 1px;
  width: 500px;
}
.skills-content ul li {
  margin: 10px;
  display: flex;
  align-items: center;
}

.skills-content p {
  width: 150px;
  /* margin: 0 5px; */
}

.skills-content img {
  margin-top: -5px;
  margin-right: 5px;
  width: 20px;
}

.level {
  width: 100%;
  background-color: rgb(0, 255, 136);
  height: 10px;
  border-radius: 30px;
}

/* Contact Section */
.contact-content {
  align-items: center;
  justify-content: center;
}

.info-contact {
  display: flex;
  margin: 10px;
  font-family: 'Fira Code';
}

.info-contact p:last-child{
  font-family: 'Fira Code';
  margin-left: 10px;
  color: var(--accent-color);
}

.info-contact p a {
  font-family: 'Fira Code';
  text-decoration: none;
  color: var(--accent-color);
}



/* Responsive */
@media screen and (max-width: 950px) {
  .navbar-menu {
    position: fixed;
    width: 100%;
    top: 60px;
    left: -100%;
    height: 100vh;
    background-color: var(--primary-color);
    transition: all .5s;
    text-align: center;
  }
  
  .navbar-menu li {
    margin: 40px 0;
    font-size: 1.5em;
    display: block;
  }
  .check-btn {
    display: block;
  }

  #check:checked ~ .navbar-menu {
    left: 0;
  }

  #check:checked ~ .menu-open {
    color: red;
    background-color: red;
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 0 10px;
    font-size: 12px;
  }

  .main-section > section {
    min-height: auto;
  }

  .right-section, .left-section {
    display: none;
  }

  .main-section {
    margin: 0 20px;
  }

  #start-section > img {
    margin: -20px auto 15px auto
  }

  #start-section {
    font-size: 0.8em;
  }

  #start-section p {
    width: 100%;
  }

  .description-experience-section {
    margin-left: 20%;
  }

  .info-contact {
    flex-direction: column;
    align-items: center;
  }
}




/* Menu responsive */
.menu-toggle {
  padding: 1em;
  top: 0.9em;
  right: 0.5em;
}

.menu-open .hamburger {
  transform: rotate(45deg);
}

.menu-open .hamburger::before {
  opacity: 0;
}

.menu-open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.hamburger, .hamburger::before, .hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}